<% flash.each do |type, msg| %>
    <%= msg %>
<% end %>



<h1><%= @movie.title %></h1>
<h3>Year: <%= @movie.creation_year %></h3>
<h3>Genre: <%= @movie.genre %> </h3>

<h3>Actors from youngest to oldest:</h3>
<p><%@movie.youngest_first.each do |actor|%></p>
<p><%=actor.name%></p>
<p><%=actor.age%></p>
<%end%>

<h3>Average age of all actors:</h3>
<p><%=@movie.average_age%></p>

<h3>Add an Actor to this Movie</h3>
<%= form_with url: "/movies/#{@movie.id}", method: :patch, local:true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.submit "Submit"%>
<% end %>
